.autocomplete {
    display: flex; flex-flow: row nowrap; align-items: center;
    height: 50px;
    animation: none; 
    cursor: pointer;
    transition: .3s ease-in-out;
}

.autocomplete:hover {
    background-color: rgba(128, 128, 128, 0.389);
}

.autocomplete img {
    height: 45px;
    margin-left: 20px;
}

.autocomplete p {
    margin-left: 20px;
    font-size: 1.5em;
}