.lifebar {
    width: 70%;
    background-color: red;
    height: 60px;
    position: relative;
}

.lives {
    background-color: green;
    height: 100%;
    display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;
    color: white;
    font-size: 2em;
}

.lifebar p {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 20%; left: 50%;
}

@keyframes glow {
  0% {
      box-shadow: 0 0 20px 10px #4CAF50;
  }
  100% {
      box-shadow: 0 0 30px 15px #4CAF50;
  }
}