.whiteSquare {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    background-color: rgba(216, 219, 219, 0.95);
    border-radius: 15px;
    transform: translate(110%, 30%);
    z-index: 9876;
    display: flex; flex-flow: column nowrap; align-items: center; gap: 20px;
    height: 600px;
    width: 500px;
}

.mikasa {
    width: 20%;
}

.whiteSquare img {
    width: 25%;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
}